{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Пицца Boss</h1>
    <p class="lead fst-italic">Горячая итальянская пицца с бесплатной доставкой в твоем городе
    </p>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-3">
            <div class="card mb-4 box-shadow" style="height :400px;">
                <div class="card-body">
                    <h3 class="card-title">Наши преимущества:</h3>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li> -Доставка до 30 минут в любой район твоего города</li>
                        <li> -Круглосуточная бесплатная доставка</li>
                        <li> -Скидка 10% при регистрации на сайте</li>
                        <li> -Бесплатная пицца при опоздании курьера</li>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Зарегистрироваться</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 box-shadow" style="height :400px;">
                <div class="card-body">
                    <h3 class="card-title">Категории</h3>
                         <ul class="list-unstyled mt-5 mb-5 text-small m-5 fs-5">
                             <li><a class="text-muted" href="#">Пицца</a></li>
                             <li><a class="text-muted" href="#">Закуски</a></li>
                             <li><a class="text-muted" href="#">Соусы</a></li>
                             <li><a class="text-muted" href="#">Десерты</a></li>
                             <li><a class="text-muted" href="#">Напитки</a></li>
                         </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Оформить заказ</button>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 box-shadow" style="height :400px; width :600px;">
                <div class="card-body">
                    <h3 class="card-title">Сегодня в продаже:</h3>
                    <div id="carousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for object in object_list %}
                                {% if forloop.first %}
                                   <div class="carousel-item active" data-bs-interval="3000">
                                       <img class="d-block w-50 h-30" src="{% mediapath object.preview %}" alt="{{ object }}"><br/><br/><br/><br/><br/><br/>
                                       <div class="carousel-caption d-none d-md-block">
                                           <div class="text-black mt-1 mb-1"><h5>{{ object }}</h5><p>{{ object.description|truncatechars:100 }}</p></div>
                                       </div>
                                   </div>
                                {% else %}
                                    <div class="carousel-item" data-bs-interval="3000">
                                        <img class="d-block w-50 h-30" src="/media/{{ object.preview }}" alt="{{ object }}"><br/><br/><br/><br/><br/><br/>
                                        <div class="carousel-caption d-none d-md-block">
                                            <div class="text-black"><p style="color:black;"><h5>{{ object }}</h5></p><p>{{ object.description|truncatechars:100 }}</p></div>
                                       </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

 <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}